{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <style>
      .card {
        background-color: #343a40;
        color: #ffffff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
      }

      .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .card-text {
        font-size: 16px;
        margin-bottom: 15px;
      }

      .related-posts {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .related-posts li {
        margin-bottom: 5px;
      }

      .related-posts li a {
        color: #20a773;
        text-decoration: none;
        transition: color 0.3s ease;
      }

      .related-posts li a:hover {
        color: #188753;
      }
    </style>

    <h1 class="mb-4">All Categories</h1>
    <div class="row">
      {% for category in categories %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ category.name }}</h5>
              <p class="card-text">{{ category.description }}</p>

              <h6 class="mb-3">Related Posts:</h6>
              <ul class="related-posts">
                {% for task in category.task_set.all %}
                  <li><a href="{% url 'task' task.id %}">{{ task.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
